keys/cert.pem
keys/key.pem
web/nft.zip
node_modules
uploads/data.json
uploads/traits.json
web/outputs
package-lock.json
package.json
metaalphabet.iml
java/target/classes
java/src
data
.idea
marks
uploads
pass
logs
tmp